{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="tr" lang="tr" xmlns:wl="http://apis.live.net/js/2010">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>moodLee</title>
        <script  type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
        <script type="text/javascript" src="/statics/js/jquery-1.4.4.js"></script>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/statics/js/base.js"></script>
	<script type="text/javascript" src="/statics/js/swfobject.js"></script>
	<script type="text/javascript" src="/statics/js/jquery.lazyload.mini.js"></script>
	<script type="text/javascript" src="/statics/js/jquery.uploadify.v2.1.3.min.js"></script>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />
	<script src="http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js"></script>
	<link href="/statics/css/default.css" rel="stylesheet" type="text/css" media="screen" />
        <script type="text/javascript" src="https://js.live.net/4.0/loader.js"></script>

        
</head>
<body>
    <wl:app
    client-id="000000004404100D"
    channel-url="/statics/channel.htm"
    callback-url="/messenger/OAuthResponseHandler"
    scope="WL_Profiles.View,WL_Contacts.View"
    onload="{{appLoaded}}">
</wl:app>
	<div id="header">
		<div class="wrapper">
			<div id="logo"> <img src="/statics/images/logo.png"  alt="moodlee" /></div>
			<div id="sline"></div>
			<div id="search">
				<input type="text" id="search_txt" />
				<div id="search_but"><a href="#">{% trans "Ara" %}</a><span>.</span></div>
			</div>

                        {% if login %}
                        <div id="user">
                            <div id="user_image"><img src="/avatar/{{login.username}}.jpg" width="25" /></div>
				<div id="user_mask"></div>
                                <div id="user_name">{{login.username}} | <a href="/logout">{% trans "Çıkış" %} </a> | <a href="/logout">{% trans "Ayarlar" %} </a></div>
			</div>
                        {% endif %}
			<br class="clear" />

		</div>
	</div>
		<br class="clear" />
		<br />
		<br />
		<div class="wrapper">
			<div id="body">
				{% block body %}

		{% endblock %}

			</div>
			<div id="right">
                            {% if login %}
				<div class="right_box">
					<h2></h2>
					<a href="/">{% trans "Ana Feed" %}</a>
					<a href="/feed/Mana">Mana</a>
					<a href="/fallows">{% trans "Arkadaşlarım" %}</a>
					<a href="/messages">{% trans "Mesajlar" %}</a>
					<a href="/comments">{% trans "Yorumlarım" %}</a>
					<a href="/likes">{% trans "Beğendiklerim" %}</a>
				</div>
				<div class="right_box_fin"></div>
				<div class="right_box">
					<h2>{% trans "Ayarlar" %}</h2>
					<a href="/profile">{% trans "Profil Bilgileri" %}</a>
					<a href="/connect">{% trans "Bağlantılar" %}</a>
					<a href="/privacy">{% trans "Gizlilik" %}</a>
					<a href="/groups">{% trans "Gruplar" %}</a>
					
				</div>
				<div class="right_box_fin"></div>

                                {% else %}
                                <h2>{% trans "Giriş Yapmanın Diğer Yolları" %}</h2>
                                   
					
					<a href="http://192.168.1.3:88/signin_twitter" style="padding:0;margin:0;text-indent: 0px;" ><img src="/statics/images/Sign-in-with-Twitter-lighter.png" /></a>
					<a href="/profile" style="padding:0;margin:0;text-indent: 0px;" ><img width="151" src="/statics/images/sign-in-with-friendfeed.png" /></a>
                                        <a href="javascript:;" onclick="window.open('/messenger/', 'msnlogin', 'width=465px,height=300px');" style="padding:0;margin:0;text-indent: 0px;" ><img width="151" src="/statics/images/con-with-msn.png" /></a>
					

					<a href="/reg_facebook" style="padding:0;margin:0;text-indent: 0px;" ><img width="151" src="/statics/images/con-with-facein.png" /></a>
					<a href="/reg_face" style="padding:0;margin:0;text-indent: 0px;" ><img width="151" src="/statics/images/con-with-face.png" /></a>
					<a href="/signin_google" style="padding:0;margin:0;text-indent: 0px;" ><img width="151" src="/statics/images/google-login-button.png" /></a>
					

				
                                {% endif %}
			</div>
			<br class="clear" />
		</div>

		<div id="dialog-message" title=""></div>
                <div id="tolist"></div>
                <script>token = '{{ttoken}}';</script><form action="/i18n/setlang/" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="/" />
<select name="language">


<option value="tr">tr</option>
<option value="en">en</option>

</select>
<input type="submit" value="Go" />
</form>
</body>
</html>




