{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="tr" lang="tr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>moodLee</title>
        <script  type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
        <script type="text/javascript" src="/statics/js/jquery-1.4.4.js"></script>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/statics/js/base.js"></script>
	<script type="text/javascript" src="/statics/js/swfobject.js"></script>
	<script type="text/javascript" src="/statics/js/jquery.lazyload.mini.js"></script>
	<script type="text/javascript" src="/statics/js/jquery.uploadify.v2.1.3.min.js"></script>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />
	<script src="http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js"></script>
	<link href="/statics/css/default.css" rel="stylesheet" type="text/css" media="screen" />

</head>
<body>
	<div id="header">
		<div class="wrapper">
			<div id="logo"> <img src="statics/images/logo.png"  alt="moodlee" /></div>
			<div id="sline"></div>
			<div id="search">
				<input type="text" id="search_txt" />
				<div id="search_but"><a href="#">{% trans "Ara" %}</a><span>.</span></div>
			</div>
			<div id="user">
				<div id="user_image"><img src="statics/images/u.jpg" /></div>
				<div id="user_mask"></div>
				<div id="user_name">Mustafa Yontar</div>
			</div>
			<br class="clear" />

		</div>
	</div>
		<br class="clear" />
		<br />
		<br />
		<div class="wrapper">
			<div id="body">
				{% block body %}

		{% endblock %}

			</div>
			<div id="right">
				<div class="right_box">
					<h2></h2>
					<a href="/">{% trans "Ana Feed" %}</a>
					<a href="/feed/Mana">Mana</a>
					<a href="/fallows">{% trans "Arkadaşlarım" %}</a>
					<a href="/messages">{% trans "Mesajlar" %}</a>
					<a href="/comments">{% trans "Yorumlarım" %}</a>
					<a href="/likes">{% trans "Beğendiklerim" %}</a>
				</div>
				<div class="right_box_fin"></div>
				<div class="right_box">
					<h2>{% trans "Ayarlar" %}</h2>
					<a href="/profile">{% trans "Profil Bilgileri" %}</a>
					<a href="/connect">{% trans "Bağlantılar" %}</a>
					<a href="/privacy">{% trans "Gizlilik" %}</a>
					<a href="/groups">{% trans "Gruplar" %}</a>
					
				</div>
				<div class="right_box_fin"></div>
			</div>
			<br class="clear" />
		</div>

		<div id="dialog-message" title=""></div>
                <div id="tolist"></div>
                <script>token = '{{ttoken}}';</script><form action="/i18n/setlang/" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="/next/page/" />
<select name="language">


<option value="tr">tr</option>
<option value="en">en</option>

</select>
<input type="submit" value="Go" />
</form>
</body>
</html>




