{% extends "base_template.html" %}
{% load tdate%}
{% load i18n %}
{% load mood%}
{% load html%}
{% load generateTool%}
{% block login %}
	hosgeldin {{user.user}} <span id="msgcount">0</span><span id="alertcount">0</span><span id="addcount">0</span>
        <script>loggedUSER = '{{user.user}}';</script>
{% endblock %}

{% block body %}
                   
				   
		<div id="userpro">
   
    <div class="propic">
        <div id="pic">
            <img src="/avatar/{{user}}.jpg" width="80" />
            
        </div>
        <br />
        
    </div>
    
    <div id="info">
        
        <div class="buts"> {% fallow user %} <img src="/statics/images/postitbut.png" id="pit" /></div>
        <h2>{{user}}</h2> 
        {{user.bio}}<br />
        <br  class="clear"/>
       <div><a href="/{{user}}/fallows">{{user.fallwoersCount}}</a><br />fallows</div>
        <div><a href="/{{user}}/fallowers">{{user.fallowedCount}}</a><br />fallowers</div>
        <div><a href="/{{user}}/mood">{{user.moodcount}}</a><br />mood</div>
        <div><a href="/{{user}}">{{user.allcount}}</a><br />post</div>
        <div><a href="/{{user}}/likes">{{user.user_likes}}</a><br />likes</div>
        <div><a href="/{{user}}/comments">{{user.user_comments}}</a><br />comment</div>
        <div><a href="#">{{user.getStat.min}}</a><br />min</div>
        <div><a href="#">{{user.getStat.big}}</a><br />max</div>
        <div><a href="#">{{user.getStat.ort}}</a><br />avg</div>
        <br  class="clear"/>
      

    </div><br  class="clear"/>{% if me == user %} <a href="#ch" class="cpic">Change Picture</a> {% endif %}


</div>
<br />
<br />
<br class="clear" />

	{% for i in user.fallowers %}
		<div class="ulist">
		<div class="fpic">
				<div class="fpics">
					<a href="/{{i.to_user.rewrite}}"> <img src="/avatar/{{i.to_user.user}}.jpg" height="70" border="0" /></a>
				</div>
		</div>
		{{i.to_user.user}}
		{% fallow i.to_user %}
		</div>
	
	
	{% endfor %}
	<br class="clear" />


				


	<div id="gotToken">
	{% csrf_token %}
	</div>
	<script>
		timex = {{time}}
	</script> 
{% endblock %}