{% extends "base_template.html" %}
{% load i18n %}

{% block body %}
<div id="index_b">
    <h1>{% trans "Hislerini paylaş , hislerini puanla yada sadece muhabbet et seçim senin! " %}</h1>
    {% trans "Framemind.com duygularını hissettiklerini paylaşabileceğin sosyal bir ağ. Sadece sosyal bir ağ olması tabi ki de işe yaramazaynı zamanda diğer sosyal ağlarda ki hesaplarının da akışlarını takip edebileceğin bir araç. Aslında kullanabilirsen eğer herşey." %}
<div id="inleft">
    <h2>{% trans "Hemen Üye Ol" %}</h2>
    <div class="frm">
        <label>{% trans "Ad" %}</label> <input type="text" id="name" name="name" /> <br class="clear" />
        <label>{% trans "Soyad" %}</label> <input type="text" id="surname" name="surname" /> <br class="clear" />
        <label>{% trans "Kullanıcı Adı" %}</label> <input type="text" id="username" name="username" /> <br class="clear" />
        <label>{% trans "E-posta" %}</label> <input type="text" id="mail" name="mail" /> <br class="clear" />
        <label>{% trans "Şifre" %}</label> <input type="password" id="passw" name="passw" /> <br class="clear" />
        <label>{% trans "Şifre (Doğrulama)" %}</label> <input type="password" id="passw2" name="passw2" /> <br class="clear" />
        <button class="btn" id="save">{% trans "Register" %}</button>
    </div>
</div>
<div id="inleft2">


    <div id="loginpsr">
        <h2>{% trans "Giriş Yap" %}</h2>
         <div class="frm">
       
        <label style="width: 60px;">{% trans "E-posta" %}</label> <input type="text" id="mail" name="mail"  /> <br class="clear" />
        <label  style="width: 60px;">{% trans "Şifre" %}</label> <input type="password" id="passw" name="passw" /> <br class="clear" /><br />
        <button class="btn" id="save">{% trans "Login" %}</button>
        <button class="btn" id="save">{% trans "Lost Password" %}</button>
         </div>
    </div>

</div>
<br class="clear" />
</div>


{% endblock %}