{% extends "base_template.html" %}
{% load tdate%}
{% load i18n %}
{% load mood%}
{% load html%}
{% load generateTool%}
{% block login %}
	hosgeldin {{user.user}} <span id="msgcount">0</span><span id="alertcount">0</span><span id="addcount">0</span>
        <script>loggedUSER = '{{user.user}}';</script>
{% endblock %}

{% block body %}
                    <div id="movbar">

				</div>

				<div id="to_all">
				<div id="tolid"> {% trans "Ekle / Duzenle" %} </div>
					<div id="to_text">{% trans "Alici" %} :</div>
					<div id="tos">
                                            <div id="tox"><a rel="all">{% trans "Herkese" %}<span>x</span></a></div><input type="text" id="getu" />
                                            <br class="clear" />
					</div>
					<br class="clear" />
				</div>
				<form id="topbr">
					
                                        <textarea id="msg" name="msg"></textarea>
                                        <input type="hidden" 
id="usemood" name="usemood" value="0" />
                                        <input type="hidden" id="mood" name="mood" value="5.0" />
                                        <input type="hidden" id="to" value="all" />
				</form>
				<div class="atch">{% trans "Ekle" %} : <a href="">{% trans "Fotoğraf" %}</a> | <a href="">{% trans "Diğer" %}</a> </div><div class="rbtn"><button class="btn" id="gomood">{% trans "Send" %}</button></div>
				<br class="clear" />
				<div class="posts">
			
			{{user.myStatusList|generatepost:user}}
		</div>
				


	<div id="gotToken">
	{% csrf_token %}
	</div>
	<script>
		timex = {{time}}
	</script> 
{% endblock %}
