{% load mood %}
{% load tdate %}
{% load generateTool%}
{% load html %}

{%for x in posts %}



                        <div class="post" id="{{x.id}}">
						<div class="post_image">
							<div class="pimage">
							{% if x.user != x.from_user %}
                                                            <img src="/statics/users/avatar/{{x.from_user}}.jpg" width="48" />
                                                         {% else %}
                                                             <img src="/statics/users/avatar/{{x.user}}.jpg" width="48" />
                                                         {% endif %}
							</div>
						</div>
						<div class="mainpost">
							{% if x.user != x.from_user %}<a href="/{{x.from_user.rewrite}}" class="pname">{{x.from_user}}</a>{% else %}
			<a href="/{{x.user.rewrite}}"  class="pname">{{x.user}}</a>{% endif %}
			{% if x.user != x.from_user %}{% if user.user != x.user.user %} (<b>{{x.user}}</b>  ile){% endif %}{% endif %}
							{{x.text|phtml }}

							<div class="tools">
								<span><a href="/{{x.from_user}}/{{x.rewrite}}">{{x.time|tdate}}</a> <a href="">birgo</a> hizmetinden</span> <a href="#comment" class="pcmmd">Yorum yaz</a><a href="#comment" class="plike">Begen</a><a href="#comment" class="pshare" rel="/s/{{x.from_user|generateurl:x.rewrite}};/{{x.from_user}}/{{x.rewrite}}">Paylas</a>
							</div>
							<!--
                                                        <div class="plikes">
								<a href="" class="first">Mustafa Yontar</a> , <a href="" class="cuser">Begum C</a> ve <a href="#">10 kisi</a> daha begendi.
							</div>-->
                                                        {% for i in x.comments|comments %}
							<div class="comments">
								{{i.text}} <a href="/{{i.rewrite}}">{{i.username}}</a> <a href="#comment" class="plike">Begen</a>
							</div>
                                                        {% endfor %}
						
						<div class="cigo"></div>
						</div>
						<br class="clear" />
					</div>



			
			{%endfor%}