{% extends "base_template.html" %}
{% load i18n %}

{% block body %}
<div id="index_b">
    <iframe src="http://www.facebook.com/plugins/registration.php?
             client_id=153789981305658&
             redirect_uri=http://www.mstfyntr.com:88/register_to_facebook&
             fields=name,birthday,gender,location,email"
        scrolling="auto"
        frameborder="no"
        style="border:none"
        allowTransparency="true"
        width="100%"
        height="330">
</iframe>
</div>


{% endblock %}